.container {
    width: 80%;
    background-color: lightgray;
    margin-left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    padding: 1em;
    margin-top: 2em;
    text-align: center;
}

.title-1 {
    text-align: center;
}

.form-group {
    margin: 1em;
}

.form-group label {
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
}

.menu {
    display: block;
}

.btn-menu {
    size: 20em;
    margin-left: 1em;
    margin-right: 1em;

}

.empty {
    width: 2em;
    height: 2em;
    background-color: white;
}

.building {
    width: 2em;
    height: 2em;
    color: white;
    background-color: black;
}

.game {
    display: flex;
    margin-left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.game-element {
    margin: 1em;
}

.game-form-group {
    display: flex;
}

.label-game {
    margin-top: 1em;
}